{{ partial "head.html" . }} {{ $baseurl := .Site.BaseURL }}

<body>
  <div id="topbar">
    <div class="wrapper">
      <header>
        <nav class="navbar">
          <ul>
            <li class="hd"><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></li>
            <li><span><a href="{{ $baseurl }}/cv">Curriculum vitæ</a></span></li>
            <li><a href="{{ $baseurl }}/publications">Publications</a></li>
            <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
            <li><a href="{{ $baseurl }}/enseignement">Enseignement</a></li>
            <li><a href="{{ $baseurl }}/blog">Blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper">

    <h2>{{ .Title | markdownify }}</h2>
    
    <h5><time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></h5></div> {{ .Content }}

  </div>

  <hr class="separator"> {{ partial "whatisthis.html" . }} {{ partial "foot.html" . }}
</body>

</html>
