{{ partial "head.html" . }}
{{ $baseurl := .Site.BaseURL }}
<body>
<div id="topbar">
<div class="wrapper">
	<header>
		<nav class="navbar">
			<ul>
				<li class="hd"><span><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></span></li>
                <li><a href="{{ $baseurl }}/cv">Curriculum vitæ</a></li>
                <li><a href="{{ $baseurl }}/publications">Publications</a></li>
                <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
                <li><a href="{{ $baseurl }}/enseignement">Enseignement</a></li>
				<li><a href="{{ $baseurl }}/blog">Blog</a></li>
			</ul>
		</nav>
	</header>
</div>
</div>

<div class="wrapper">
<div class="units-row">
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">
<div class="unit-20 dateblock"><h4>from <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></h4>, {{ .Params.host }}

{{ if ge .Date.Unix .Now.Unix }}{{ if (le .Date.Unix (add .Now.Unix 7776000)) }}<span class="badge badge-small badge-yellow">à venir</span>{{ end }}{{ end }}
{{ if (le .Date.Unix .Now.Unix) }}{{ if (le .Now.Unix (add .Date.Unix .Params.duration)) }}<span class="badge badge-small badge-green">en cours</span>{{ end }}{{ end }}
</div>
<div class="unit-60">{{ .Content }}

<hr>
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;{{.PrevInSection.Title}}</a> |
{{ end }}
<a href="{{ $baseurl }}/class">Class Archive</a>
{{ if .NextInSection }}
| <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&rarr;</a>
{{ end }}
</div>

</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
