{{ partial "head.html" . }} {{ $baseurl := .Site.BaseURL }}

<body>
  <div id="topbar">
    <div class="wrapper">
      <header>
        <nav class="navbar">
          <ul>
            <li class="hd"><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></li>
            <!-- TODO: modify this ugly stopgap: this default page is used for new CV page -->
            <li><span><a href="{{ $baseurl }}/cv">CV</a></span></li>
            <li><a href="{{ $baseurl }}/publications">Publications</a></li>
            <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
            <li><a href="{{ $baseurl }}/enseignement">Enseignement</a></li>
            <li><a href="{{ $baseurl }}/blog">Blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper">

    <h2>{{ .Title | markdownify }}</h2> {{ .Content }}

  </div>

  <hr class="separator"> {{ partial "whatisthis.html" . }} {{ partial "foot.html" . }}

</body>

</html>
