<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
    <div class="units-row units-padding">
        <div class="unit-40">
            <!--about-->
            <h3><a id="about">Qui&nbsp;?</a></h3>
            <figure class="image-left">
                <img class="avatar" src="{{ .Site.BaseURL }}/img/avatar.jpg" height="120" width="120">
            </figure>
            <p>Je suis maître de conférences en langue et littérature grecques anciennes, rhétorique et humanités numériques à l’<a href="http://dep-lettresclassiques.u-paris10.fr/">université Paris-Nanterre</a>.</p>
        </div>
        <!--end about-->
        <div class="unit-30">
            <!--contact-->
            <h3>Où&nbsp;?</h3>
            <ul class="compact fa-ul">
                <li><i class="fa-li fa fa-university fa-fw" style="color:#03396c;font-size:80%;padding-top:3px;"></i>Département <a href="http://dep-lettresclassiques.u-paris10.fr/">Langues et littératures grecques et latines</a>, université Paris-Nanterre,
                    200&nbsp;avenue de la République, 92001&nbsp;Nanterre, France</li>
                <li><i class="fa-li fa fa-envelope fa-fw" style="color:#03396c;font-size:80%;padding-top:5px;"></i><a href="mailto:aurelien.berra@u-paris10.fr">aurelien.berra@u-paris10.fr</a></li>
                <li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#03396c;font-size:80%;padding-top:5px;"></i><a href="http://twitter.com/aurelberra">@aurelberra</a> sur Twitter</li>
                <li><i class="fa-li fa fa-github fa-fw" style="color:#03396c;font-size:80%;padding-top:5px;"></i><a href="http://github.com/aurelberra">aurelberra</a> sur GitHub</li>
            </ul>
        </div>
        <!--end contact-->
        <div class="unit-30">
            <!--subscribe-->
            <h3>Quand ?</h3>
            <ul>
                <li><a href="/index.xml"><i class="fa fa-rss-square" style="color:#03396c;font-size:80%;"></i>Flux RSS</a></li>
                <h3>Ici ?</h3>
                <a id="searchsite">
                    <form method="get" action="http://duckduckgo.com/">
                        <input type="search" name="q" maxlength="255" placeholder="Chercher sur ce site">
                        <input type="hidden" name="sites" value="aurelienberra.org" />
                        <input type="hidden" name="k7" value="#faf8f8" />
                        <input type="hidden" name="kj" value="#b33" />
                        <input type="hidden" name="ky" value="#fafafa" />
                        <input type="hidden" name="kx" value="b" />
                        <input type="hidden" name="ko" value="-1" />
                        <input type="hidden" name="k1" value="-1" />
                        <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
                    </form>
                </a>
        </div>
    </div>
</div>
</div>
