<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
  <div class="units-row units-padding">
    <div class="unit-40">

      <!-- <h3><a id="about">Qui&nbsp;?</a></h3> -->
      <figure class="image-left">
        <img class="avatar" src="{{ .Site.BaseURL }}/img/avatar.jpg" height="120" width="120">
      </figure>
      <p>Je suis maître de conférences en langue et littérature grecques anciennes, rhétorique et humanités numériques à l’<a href="http://www.parisnanterre.fr">université Paris-Nanterre</a>.</p>
    </div>

    <div class="unit-30">

      <!-- <h3>Où&nbsp;?</h3> -->
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" style="color:#b24;font-size:80%;padding-top:3px;"></i>Département <a href="http://dep-lettresclassiques.parisnanterre.fr">Langues et littératures grecques et latines</a>, université Paris-Nanterre, 200&nbsp;avenue de la République, 92001&nbsp;Nanterre, France</li>
        <li><a href="mailto:aurelien.berra@parisnanterre.fr"><i class="fa-li fa fa-envelope fa-fw" style="color:#b24;font-size:80%;padding-top:5px;"></i>aurelien.berra@parisnanterre.fr</a></li>
        <li><a href="http://twitter.com/aurelberra"><i class="fa-li fa fa-twitter-square fa-fw" style="color:#b24;font-size:80%;padding-top:5px;"></i>@aurelberra</a> sur Twitter</li>
        <li><a href="https://github.com/aurelberra"><i class="fa-li fa fa-github fa-fw" style="color:#b24;font-size:80%;padding-top:5px;"></i>aurelberra</a> sur GitHub</li>
      </ul>
    </div>

    <div class="unit-30">

      <!-- <h3>Ici&nbsp;?</h3> -->
      <!-- TODO: try implementing search again when domain is not github.io, which apparently doesn't work -->
      <!-- search form method -->
      <!-- <a id="searchsite">
                    <form method="get" action="https://duckduckgo.com/">
                        <input type="search" name="q" maxlength="255" placeholder="Chercher sur ce site" class="searchsite">
                        <input type="hidden" name="sites" value="aurelienberra.org" />
                        <input type="hidden" name="k7" value="#faf8f8" />
                        <input type="hidden" name="kj" value="#b33" />
                        <input type="hidden" name="ky" value="#fafafa" />
                        <input type="hidden" name="kx" value="b" />
                        <input type="hidden" name="ko" value="-1" />
                        <input type="hidden" name="k1" value="-1" />
                        <input type="hidden" name="kh" value="1" />
                        <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
                    </form>
                </a> -->
      <!-- iframe method -->
      <!-- <iframe src="https://duckduckgo.com/search.html?width=150&site=aurelienberra.org&prefill=Chercher sur ce site" style="overflow:hidden;margin:0;padding:0;width:208px;height:40px;" frameborder="0"></iframe> -->

      <!-- <h3>Ailleurs&nbsp;?</h3> -->
      <p><a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss-square" style="color:#b24;font-size:100%;"></i>&nbsp;&nbsp;Flux RSS</a>, pour que les nouveautés viennent à vous</p>
    </div>
  </div>
</div>
