{{ partial "head.html" . }} {{ $baseurl := .Site.BaseURL }}

<body>

  <div id="topbar">
    <div class="wrapper">
      <header>
        <nav class="navbar">
          <ul>
            <li class="hd"><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></li>
            <li><a href="{{ $baseurl }}/cv">CV</a></li>
            <li><a href="{{ $baseurl }}/publications">Publications</a></li>
            <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
            <li><a href="{{ $baseurl }}/enseignement">Enseignement</a></li>
            <li><a href="{{ $baseurl }}/blog">Blog</a></li>
            <li><span><a href="{{ $baseurl }}">Errance</a></span></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper">

    <!-- <div class="units-row"> -->

    <!-- <div class="unit-50"> -->
    <h2>Erreur 404…</h2>
    <p class="big">
      Aucune page ne correspond à votre requête et j’en suis désolé. C’est la ténébreuse <a href="https://fr.wikipedia.org/wiki/404_av._J.-C.">erreur 404</a>.</p>
    <!-- <p>Peut-être cela vous aidera-t-il de retourner à la <a href="https://aurelberra.github.io">page d’accueil de ce site</a>&nbsp;?</p> -->
    <!-- <p>Peut-être cela vous aidera-t-il de retourner à la <a href="https://aurelienberra.org">page d’accueil de ce site</a>&nbsp;?</p> -->
    <p>Peut-être cela vous aidera-t-il de retourner à la <a href="http://aurelienberra.org">page d’accueil de ce site</a>&nbsp;?</p>

    <!-- Search box not working: removed -->
    <!-- To reimplement it, copy code from whatisthis partial -->

  </div>

  <hr class="separator"> {{ partial "whatisthis.html" . }} {{ partial "foot.html" . }}

</body>

</html>
