{{ partial "head.html" . }} {{ $baseurl := .Site.BaseURL }}

<body>
  <div id="topbar">
    <div class="wrapper">
      <header>
        <nav class="navbar">
          <ul>
            <li class="hd"><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></li>
            <li><a href="{{ $baseurl }}/cv">CV</a></li>
            <li><a href="{{ $baseurl }}/publications">Publications</a></li>
            <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
            <li><span><a href="{{ $baseurl }}/enseignement">Enseignement</a></span></li>
            <li><a href="{{ $baseurl }}/blog">Blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper">

    <h2>Enseignement</h2>

    <div class="units-row">

      <div class="unit-100">
        <p>Voir la <a href="https://www.parisnanterre.fr/enseignements-assures-par-aurelien-berra-422367.kjsp">liste détaillée</a> de mes cours à l’université Paris-Nanterre.</p>
      </div>

      <!-- 2019-06-01 Simplify for the time being -->
      <!--
      <div class="unit-70">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="units-row">
          <div class="unit-10">
            <h3>{{ .Key }}</h3>
          </div>
          <div class="unit-90">
            <ul class="fa-ul">
              {{ range .Pages }}
              <li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#b00;font-size:80%;padding-top:6px;"></i>
                <a href="{{ .Permalink }}">
                  <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>,
                  <time>{{ .Params.host }}
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="unit-30">
        <p>Voir également la <a href="https://www.parisnanterre.fr/enseignements-assures-par-aurelien-berra-422367.kjsp">liste détaillée</a> de mes cours à l’université Paris-Nanterre.</p>
      </div> -->

    </div>
  </div>

  <hr class="separator"> {{ partial "whatisthis.html" . }} {{ partial "foot.html" . }}

</body>

</html>
