{{ partial "head.html" . }} {{ $baseurl := .Site.BaseURL }}

<body>
  <div id="topbar">
    <div class="wrapper">
      <header>
        <nav class="navbar">
          <ul>
            <li class="hd"><a href="{{ $baseurl }}"><b>Aurélien Berra</b></a></li>
            <li><a href="{{ $baseurl }}/cv">Curriculum vitæ</a></li>
            <li><a href="{{ $baseurl }}/publications">Publications</a></li>
            <!-- <li><a href="{{ $baseurl }}/interventions">Interventions</a></li> -->
            <li><span><a href="{{ $baseurl }}/enseignement">Enseignement</a></span></li>
            <li><a href="{{ $baseurl }}/blog">Blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div class="wrapper">

    <h2>Enseignement</h2>
    <div class="units-row">
      <div class="unit-70">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="units-row">
          <div class="unit-10">
            <h3>{{ .Key }}</h3>
          </div>
          <div class="unit-90">
            <ul class="fa-ul">
              {{ range .Pages }}
              <li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#b00;font-size:80%;padding-top:6px;"></i>
                <a href="{{ .Permalink }}">
                  <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>,
                  <time>{{ .Params.host }}
                  <!-- <time>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} – {{ .Params.enddate}}</time> -->
                  <!-- de {{ .Date.Format "January" }} à {{ .Params.enddate | dateFormat "January" }}</time>,  -->
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="unit-30">
        <p>J’enseigne la langue et, surtout, la littérature grecques anciennes, la rhétorique et les humanités numériques à l’<a href="http://dep-lettresclassiques.u-paris10.fr/">université Paris-Nanterre</a> – les humanités numériques, occasionnellement
          dans d’autres cadres.</p>
        <p>
          Cette page recense mes cours ou interventions pédagogiques et fournit les liens pertinents.</p>
      </div>
    </div>
  </div>

  </div>

  <hr class="separator"> {{ partial "whatisthis.html" . }} {{ partial "foot.html" . }}
</body>

</html>
